
OpenCVWorkspace.xcworkspace/xcuserdata/dannyg.xcuserdatad/UserInterfaceState.xcuserstate

ObjectRecognition/ObjectRecognition.xcodeproj/project.xcworkspace/xcuserdata/dannyg.xcuserdatad/UserInterfaceState.xcuserstate

ObjectRecognition/ObjectRecognition.xcodeproj/project.xcworkspace/xcuserdata/dannyg.xcuserdatad/UserInterfaceState.xcuserstate

OpenCVTest.xcodeproj/project.xcworkspace/xcshareddata/OpenCVTest.xccheckout
